/* formattazione */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* header */
header{
    height: 100px;
    background-color: violet;
}

/* main */

/* section jumbotron */
section.jumbotron{
    height: 400px; /* da togliere */
    background-color: yellow; /* da togliere */
    margin: 20px 0;
}

/* section container */
section.container{
    height: 600px;
    background-color: cyan;
    padding-top: 100px;
}

div.clearfix{
    height: 100%;
    background-color: blue; /* da togliere */
    padding: 20px 0;
}

aside.content{
    height: 100%; /* da togliere */
    width: 25%; /* da togliere */
    background-color: cyan; /* da togliere */
}

section.content-central{
    height: 100%; /* da togliere */
    
    margin: 0 20px;
    background-color: cyan; /* da togliere */
    width: calc(50% - 40px);
}


